/**
* Dark Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.4
*/
body {
  background-color: #252525 !important;
  color: #FFFFFF; }
  body.custom-background {
    background-color: #252525 !important;
    color: #FFFFFF; }
  body #inner-content.home {
    background-color: rgba(15, 15, 15, 0.5); }
  body .home-posts {
    background-color: rgba(15, 15, 15, 0.5);
    padding-top: 0; }
  body.single #content #inner-content {
    background-color: rgba(15, 15, 15, 0.5); }
    body.single #content #inner-content h1, body.single #content #inner-content h2, body.single #content #inner-content h3, body.single #content #inner-content h4, body.single #content #inner-content h5, body.single #content #inner-content h6, body.single #content #inner-content abbr, body.single #content #inner-content acronym, body.single #content #inner-content label {
      color: #FFFFFF; }
    body.single #content #inner-content blockquote p {
      color: #FFFFFF; }
    body.single #content #inner-content pre {
      color: #252525; }
  body.single .author-bio {
    border-bottom: 1px solid #FFFFFF; }
  body.single .commentlist .panel {
    background-color: #000000;
    border: 0px;
    border-bottom: 1px solid #DDDDDD; }
  body.single .commentlist .odd.panel {
    background-color: #666666; }
  body.single .commentlist .comment-header {
    color: #FFFFFF; }
    body.single .commentlist .comment-header a {
      color: #FFFFFF; }
    body.single .commentlist .comment-header time {
      color: #FFFFFF; }
  body.single .commentlist .comment_content p {
    color: #FFFFFF; }
  body.single #respond a {
    color: #FFFFFF; }
  body.single #respond label {
    color: #FFFFFF; }
  body .aligncenter, body .alignright, body .alignleft, body .alignnone {
    background-color: transparent; }
  body.page #content #inner-content {
    background-color: rgba(15, 15, 15, 0.5); }
    body.page #content #inner-content h1, body.page #content #inner-content h2, body.page #content #inner-content h3, body.page #content #inner-content h4, body.page #content #inner-content h5, body.page #content #inner-content h6, body.page #content #inner-content abbr, body.page #content #inner-content acronym, body.page #content #inner-content label {
      color: #FFFFFF; }
    body.page #content #inner-content blockquote p {
      color: #FFFFFF; }
    body.page #content #inner-content pre {
      color: #252525; }
  body.page .commentlist .panel {
    background-color: #000000;
    border: 0px;
    border-bottom: 1px solid #DDDDDD; }
  body.page .commentlist .odd.panel {
    background-color: #666666; }
  body.page .commentlist .comment-header {
    color: #FFFFFF; }
    body.page .commentlist .comment-header a {
      color: #FFFFFF; }
    body.page .commentlist .comment-header time {
      color: #FFFFFF; }
  body.page .commentlist .comment_content p {
    color: #FFFFFF; }
  body.page #respond a {
    color: #FFFFFF; }
  body.page #respond label {
    color: #FFFFFF; }
  body.archive #content #inner-content {
    background-color: rgba(15, 15, 15, 0.5); }
    body.archive #content #inner-content .archive .pagination {
      margin-top: 20px; }
      body.archive #content #inner-content .archive .pagination h2 {
        display: none; }
      body.archive #content #inner-content .archive .pagination a {
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 3px 5px; }
        body.archive #content #inner-content .archive .pagination a:hover {
          background-color: #FFFFFF;
          color: #000000; }
      body.archive #content #inner-content .archive .pagination .current {
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        color: #000000;
        background-color: #FFFFFF;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 3px 5px; }
        body.archive #content #inner-content .archive .pagination .current:hover {
          background-color: #000000;
          color: #FFFFFF; }
  body .archive .pagination {
    margin-top: 20px; }
    body .archive .pagination h2 {
      display: none; }
    body .archive .pagination a {
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      color: #FFFFFF;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 3px 5px; }
      body .archive .pagination a:hover {
        background-color: #FFFFFF;
        color: #000000; }
    body .archive .pagination .current {
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      color: #000000;
      background-color: #FFFFFF;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 3px 5px; }
      body .archive .pagination .current:hover {
        background-color: #000000;
        color: #FFFFFF;
        border: 2px solid #000000; }

.archive .pagination {
  margin-top: 20px; }
  .archive .pagination h2 {
    display: none; }
  .archive .pagination a {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 3px 5px; }
    .archive .pagination a:hover {
      background-color: #FFFFFF;
      color: #000000; }
  .archive .pagination .current {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 3px 5px; }
    .archive .pagination .current:hover {
      background-color: #000000;
      color: #FFFFFF;
      border: 2px solid #000000; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  width: 100%;
  font-family: 'Cardo', serif;
  border: 0px;
  background-color: transparent !important; }
  table thead {
    background-color: transparent !important; }

thead a, tbody a {
  color: #FFFFFF !important; }

tr {
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent !important; }
  tr:last-child {
    border-bottom: 0px; }

th,
td {
  text-align: left;
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF !important; }
  th:last-child,
  td:last-child {
    border-right: 0px; }

thead th {
  background-color: transparent;
  color: #FFFFFF !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding: 2px 0;
  font-size: 20px !important; }

thead tr:last-child {
  border-bottom: 1px solid #FFFFFF; }

th {
  text-transform: uppercase; }

td {
  padding: 2px 0; }
