/**
* Footer Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.1.9
*/
.footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 5px 0px;
}
.footer p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
}
.footer a, .footer a:link, .footer a:visited {
  color: #ffffff;
}
.footer a:hover {
  color: #999999;
}
