/*
Error: Undefined variable: "$lato".
        on line 37 of /Users/jacobmartella/Documents/Websites/fotographia.dev/wp-content/themes/fotographia/scss/header.scss

32: 	position: relative;
33: }
34: .site-title {
35: 	margin: 0 5px;
36: 	:link, :visited {
37: 		font-family: $lato;
38: 		font-size: 28px;
39: 		font-weight: $light;
40: 	}
41: }
42: .top-bar-section li.active:not(.has-form) a:not(.button) {

Backtrace:
/Users/jacobmartella/Documents/Websites/fotographia.dev/wp-content/themes/fotographia/scss/header.scss:37
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/jacobmartella/.rvm/gems/ruby-2.1.2/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$lato\".\A         on line 37 of /Users/jacobmartella/Documents/Websites/fotographia.dev/wp-content/themes/fotographia/scss/header.scss\A \A 32: 	position: relative;\A 33: }\A 34: .site-title {\A 35: 	margin: 0 5px;\A 36: 	:link, :visited {\A 37: 		font-family: $lato;\A 38: 		font-size: 28px;\A 39: 		font-weight: $light;\A 40: 	}\A 41: }\A 42: .top-bar-section li.active:not(.has-form) a:not(.button) {"; }
