/**
* Comments Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.2
*/
//* Define the variables to be used in this stylesheet

.comments-title {
	margin-top: 20px;
}
.commentlist {
	.panel {
		background-color: #FFFFFF;
		border: 0px;
		border-bottom: 1px solid #999999;
	}
	.odd.panel {
		background-color: #CCCCCC;
	}
	.author-mug {
		margin-right: 5px;
		float: left;
		img {
			border-radius: 70px;
		}
	}
	.comment-header {
		font-family: $lato;
		font-size: 22px;
		font-weight: 300;
		color: #000000;
		time a{
			font-family: $oswald;
			font-size: 16px;
			font-weight: 400;
			color: #000000;
		}
	}
	.comment-reply-link {
		font-family: $lato;
		font-weight: 300;
		font-size: 16px;
		padding: 5px 10px;
		color: #000000;
		background-color: #FFFFFF;
		border: 2px solid #000000;
		border-radius: 2px;
		&:hover {
			background-color: #000000;
		}
	}
}
#respond {
	input[type="submit"] {
		font-family: $lato;
		font-weight: 300;
		font-size: 20px;
		padding: 17px 32px;
		color: #000000;
		background-color: #FFFFFF;
		border: 2px solid #000000;
		border-radius: 2px;
		&:hover {
			background-color: #000000;
			color: #FFFFFF;
		}
	}
}