/**
* Dark Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.2
*/
body {
  background-color: #252525 !important;
  color: #FFFFFF;
  &.custom-background {
    background-color: #252525 !important;
    color: #FFFFFF;
  }
  #inner-content.home {
    background-color: rgba(15,15,15,.5);
  }
  .home-posts {
    background-color: rgba(15,15,15,.5);
    padding-top: 0;
  }
  &.single {
    #content {
      #inner-content {
        background-color: rgba(15,15,15,.5);
        h1, h2, h3, h4, h5, h6, abbr, acronym, label {
          color: #FFFFFF;
        }
        blockquote {
          p {
            color: #FFFFFF;
          }
        }
        pre {
          color: #252525;
        }
      }
    }
    .author-bio {
      border-bottom: 1px solid #FFFFFF;
    }
    .commentlist {
      .panel {
        background-color: #000000;
        border: 0px;
        border-bottom: 1px solid #DDDDDD;
      }
      .odd.panel {
        background-color: #666666;
      }
      .comment-header {
        color: #FFFFFF;
        a {
          color: #FFFFFF;
        }
        time {
          color: #FFFFFF;
        }
      }
      .comment_content {
        p {
          color: #FFFFFF;
        }
      }
    }
    #respond {
      a {
        color: #FFFFFF;
      }
      label {
        color: #FFFFFF;
      }
    }
  }
  .aligncenter, .alignright, .alignleft, .alignnone {
    background-color: transparent;
  }
  &.page {
    #content {
      #inner-content {
        background-color: rgba(15,15,15,.5);
        h1, h2, h3, h4, h5, h6, abbr, acronym, label {
          color: #FFFFFF;
        }
        blockquote {
          p {
            color: #FFFFFF;
          }
        }
        pre {
          color: #252525;
        }
      }
    }
    .commentlist {
      .panel {
        background-color: #000000;
        border: 0px;
        border-bottom: 1px solid #DDDDDD;
      }
      .odd.panel {
        background-color: #666666;
      }
      .comment-header {
        color: #FFFFFF;
        a {
          color: #FFFFFF;
        }
        time {
          color: #FFFFFF;
        }
      }
      .comment_content {
        p {
          color: #FFFFFF;
        }
      }
    }
    #respond {
      a {
        color: #FFFFFF;
      }
      label {
        color: #FFFFFF;
      }
    }
  }
  &.archive {
    #content {
      #inner-content {
        background-color: rgba(15, 15, 15, .5);
        .archive {
          .pagination {
            margin-top: 20px;
            h2 {
              display: none;
            }
            a {
              border: 2px solid #FFFFFF;
              border-radius: 2px;
              color: #FFFFFF;
              &:hover {
                background-color: #FFFFFF;
                color: #000000;
              }
              font-size: 18px;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 3px 5px;
            }
            .current {
              border: 2px solid #FFFFFF;
              border-radius: 2px;
              color: #000000;
              background-color: #FFFFFF;
              &:hover {
                background-color: #000000;
                color: #FFFFFF;
              }
              font-size: 18px;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              padding: 3px 5px;
            }
          }
        }
      }
    }
  }
  .archive {
    .pagination {
      margin-top: 20px;
      h2 {
        display: none;
      }
      a {
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        color: #FFFFFF;
        &:hover {
          background-color: #FFFFFF;
          color: #000000;
        }
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 3px 5px;
      }
      .current {
        border: 2px solid #FFFFFF;
        border-radius: 2px;
        color: #000000;
        background-color: #FFFFFF;
        &:hover {
          background-color: #000000;
          color: #FFFFFF;
          border: 2px solid #000000;
        }
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 3px 5px;
      }
    }
  }
}
.archive {
  .pagination {
    margin-top: 20px;
    h2 {
      display: none;
    }
    a {
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      color: #FFFFFF;
      &:hover {
        background-color: #FFFFFF;
        color: #000000;
      }
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 3px 5px;
    }
    .current {
      border: 2px solid #FFFFFF;
      border-radius: 2px;
      color: #000000;
      background-color: #FFFFFF;
      &:hover {
        background-color: #000000;
        color: #FFFFFF;
        border: 2px solid #000000;
      }
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding: 3px 5px;
    }
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  width: 100%;
  font-family: 'Cardo', serif;
  border: 0px;
  background-color: transparent !important;
  thead {
    background-color: transparent !important;
  }
}
thead a, tbody a {
  color: #FFFFFF !important;
}
tr {
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent !important;
  &:last-child {
    border-bottom: 0px;
  }
}
th,
td {
  text-align: left;
  border-right: 1px solid #FFFFFF;
  color: #FFFFFF !important;
  &:last-child {
    border-right: 0px;
  }
}
thead th {
  background-color: transparent;
  color: #FFFFFF !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  padding: 2px 0;
  font-size: 20px !important;
}
thead tr:last-child {
  border-bottom: 1px solid #FFFFFF;
}
th {
  text-transform: uppercase;
}
td {
  padding: 2px 0;
}