/**
* Theme Default Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.5
*/
//* Define the variables to be used in this stylesheet
$black: #000000;
$off-black: #252525;
$lato: 'Lato', sans-serif;
$light: 300;
$oswald: 'Oswald', 'sans-serif';

html {
     margin-top: 0px;
     padding: 0;
}
textarea {
     overflow:auto;
     vertical-align:top
}
table {
     border-collapse:collapse;
     border-spacing:0
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
/*
B. Typographical Elements
------------------------------------------- */
html {
     font-size: 100%;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin: 0px;
	background-color: #ffffff;
}
a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition:    all 0.1s ease-in-out;
     -ms-transition:     all 0.1s ease-in-out;
     -o-transition:      all 0.1s ease-in-out;
     transition:         all 0.1s ease-in-out;
}

::-moz-selection {
     background-color: #000000;
     color: #ffffff;
}

::selection {
     background-color: #000000;
     color: #ffffff;
}
a, a:link, a:visited, a:hover{
	color: #6E6E6E;
	text-decoration: none;
     cursor: inherit;
}
a img{
	border: 0px;
}
a:hover {
     color: #333;
     cursor: inherit;
}
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
     cursor: pointer;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
strong {
     font-weight: 700;
}
ol,
ul {
     margin: 0;
     padding: 0;
}
/*
C. Headings
------------------------------------------- */
h6{
     font-family: $lato;
     font-weight: 300;
     font-size: 16px;
     margin: 3px;
}
h5{
	font-family: $lato;
	font-weight: 300;
	font-size: 18px;
	margin: 3px;
}
h4{ 
	font-family: $lato;
	font-weight: 300;
	font-size: 20px;
	margin: 3px;
}
h3{
	font-family: $lato;
	font-weight: 400;
	font-size: 24px;
	margin: 4px;
}
h2{
	font-family: $lato;
	font-weight: 400;
	font-size: 26px;
	margin: 4px;
}
h1{
	font-family: $lato;
	font-weight: 400;
	font-size: 28px;
	margin: 5px;
}
/*
D. Objects
------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
     max-width: 100%;
}
img {
     height: auto;
     width: auto; /* IE8 */
}
/*
E. Forms
------------------------------------------- */
input,
select,
textarea {
     background-color: #ffffff;
     border: 1px solid #000000;
     border-radius: 5px;
     color: #000000;
     font-size: 16px;
     padding: 3px;
     max-width: 100%;
     margin-top: 5px;
     margin-bottom: 5px;
}
input[type="text"] {
     margin: 5px 0px;
     font-size: 16px;
     border: 1px solid #000000;
     border-radius: 3px;
     box-shadow: none;
     color: #000000;
}
input:focus,
textarea:focus {
     outline: none;
}
::-moz-placeholder {
     color: #999999;
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     opacity: 1;
}
::-webkit-input-placeholder {
     color: #999999;
     font-family: 'Lato', sans-serif;
     font-weight: 300;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button, .button {
     padding: 10px 30px;
     background: transparent;
     border: 3px solid #000000;
     border-radius: 3px;
     color: #000000;
     font-family: 'Lato', sans-serif;
     font-size: 20px;
     font-weight: 300;
}
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.button:hover {
     color: #ffffff;
     background-color: #000000;
}
.button:hover {
     color: #FFFFFF;
}
.button {
     display: inline-block;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
     display: none;
}
input[type="checkbox"],input[type="radio"] {
     margin-right: 5px;
}
/*
F. Tables
------------------------------------------- */
table {
     border-collapse: collapse;
     border-spacing: 0;
     line-height: 2;
     margin-bottom: 40px;
     margin-bottom: 4rem;
     width: 100%;
     font-family: 'Cardo', serif;
     border: 0px;
}
tbody a {
     color: #000000 !important;
}
tr {
     border-bottom: 1px solid #000000;
     background-color: #FFFFFF !important;
     &:last-child {
          border-bottom: 0px;
     }
}
th,
td {
     text-align: left;
     border-right: 1px solid #000000;
     &:last-child {
          border-right: 0px;
     }
}
thead th {
     background-color: #FFFFFF;
     color: #000000;
     font-family: 'Oswald', sans-serif;
     font-weight: 400;
     padding: 2px 0;
     font-size: 20px !important;
}
thead tr:last-child {
     border-bottom: 1px solid #000000;
}
th {
     text-transform: uppercase;
}
td {
     padding: 2px 0;
}
/*
H. Lists
------------------------------------------- */
ul > li {
    margin-left: 10px;
}
ol > li {
    margin-left: 10px;
}
ul, ol {
     list-style-position: inside;
}