/**
* Footer Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.4
*/
//* Define the variables to be used in this stylesheet
$background_color: #252525;
$color: #ffffff;

.footer {
	background-color: $background_color;
	color: $color;
	text-align: center;
	padding: 5px 0px;
	p {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 16px;
		margin-bottom: 0px;
	}
	a, a:link, a:visited {
		color: $color;
	}

	a:hover {
		color: #999999;
	}
}