/**
* Home Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.4
*/
//* Define the variables to be used in this stylesheet
$transparent-black: rgba(0,0,0,.80);

/**
***************** A. Home Slider ************************ 
*/
.top-posts {
	margin: auto;
	max-width: none;
	margin-top: 13px;
	overflow: hidden;
	.top-post {
		position: relative;
		overflow: hidden;
		perspective:1000px;
		-webkit-perspective:1000px;
		.title-area {
			display: block;
			width: 100%;
			position: absolute;
			height: auto;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 70%, rgba(37,37,37,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#252525',GradientType=0 );
			text-align: right;
			padding-right: 3%;
			z-index: 9;
		}
		img {
			width: 100%;
			height: auto;
		}
		.category {
			font-family: 'Oswald', sans-serif;
			font-size: 20px;
			color: #FFFFFF;
		}
		.title {
			font-family: 'Lato', sans-serif;
			font-size: 30px;
			color: #FFFFFF;
			font-weight: 300;
		}
		.top-post-front {
			width: 100%;
			text-align: center;
			transition: all .5s ease;
		}
		.top-post-back {
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			opacity: 0;
			width: 100%;
			text-align: center;
			transition: all .5s ease;
			background-color: #252525;
			backface-visibility:hidden;
			transform-style: preserve-3d;
			-webkit-transform: translateY(110px) rotateX(-90deg);
			-moz-transform: translateY(110px) rotateX(-90deg);
			-ms-transform: translateY(110px) rotateX(-90deg);
			-o-transform: translateY(110px) rotateX(-90deg);
			transform: translateY(110px) rotateX(-90deg);
		}
		&:hover {
			.top-post-front {
				opacity: 0;
				-webkit-transform: translateY(-110px) rotateX(90deg);
				-moz-transform: translateY(-110px) rotateX(90deg);
				-ms-transform: translateY(-110px) rotateX(90deg);
				-o-transform: translateY(-110px) rotateX(90deg);
				transform: translateY(-110px) rotateX(90deg);
			}
			.top-post-back {
				opacity: 1;
				-webkit-transform: rotateX(0);
				-moz-transform: rotateX(0);
				-ms-transform: rotateX(0);
				-o-transform: rotateX(0);
				transform: rotateX(0);
			}
		}
	}
	#top-post-1 {
		width: 50%;
		float: left;
		position: relative;
		height: auto;
	}
	#top-post-2 {
		width: 25%;
		float: left;
		position: relative;
		height: auto;
		.category {
			font-size: 14px;
		}
		.title {
			font-size: 20px;
		}
	}
	#top-post-3 {
		width: 25%;
		float: left;
		position: relative;
		height: auto;
		.category {
			font-size: 14px;
		}
		.title {
			font-size: 20px;
		}
	}
	#top-post-4 {
		width: 25%;
		float: left;
		position: relative;
		height: auto;
		.category {
			font-size: 14px;
		}
		.title {
			font-size: 20px;
		}
	}
	#top-post-5 {
		width: 25%;
		float: left;
		position: relative;
		height: auto;
		.category {
			font-size: 14px;
		}
		.title {
			font-size: 20px;
		}
	}
}

@media #{$medium-only} {
	.top-posts {
		margin-top: 0;
	}
}
@media #{$small-only} {
	.top-posts {
		margin-top: 0;
		height: auto;
		.top-post {
			width: 100% !important;
			clear: both
		}
	}
	.home-posts {
		margin-top: 0 !important;
		padding-top: 0 !important;
	}
}
/**
***************** B. Home Posts ************************ 
*/
.home-posts {
	margin-top: 10px;
	background-color: rgba(255, 255, 255, .50);
	padding-top: 10px;
	.row .row {
		margin: 0;
	}
	.columns .columns {
		padding: 0;
	}
	.sidebar {
		padding-right: 0;
	}
	.story {
		position: relative;
		overflow: hidden;
		perspective:1000px;
		-webkit-perspective:1000px;
		.title-area {
			display: block;
			width: 100%;
			position: absolute;
			height: auto;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 70%, rgba(37,37,37,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#252525',GradientType=0 );
			text-align: right;
			padding-right: 3%;
			z-index: 9;
		}
		img {
			width: 100%;
			height: auto;
		}
		.category {
			font-family: 'Oswald', sans-serif;
			font-size: 20px;
			color: #FFFFFF;
		}
		.title {
			font-family: 'Lato', sans-serif;
			font-size: 30px;
			color: #FFFFFF;
			font-weight: 300;
		}
		.story-front {
			width: 100%;
			text-align: center;
			transition: all .5s ease;
		}
		.story-back {
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			opacity: 0;
			width: 100%;
			text-align: center;
			transition: all .5s ease;
			background-color: #252525;
			backface-visibility:hidden;
			transform-style: preserve-3d;
			-webkit-transform: translateY(110px) rotateX(-90deg);
			-moz-transform: translateY(110px) rotateX(-90deg);
			-ms-transform: translateY(110px) rotateX(-90deg);
			-o-transform: translateY(110px) rotateX(-90deg);
			transform: translateY(110px) rotateX(-90deg);
		}
		&:hover {
			.story-front {
				opacity: 0;
				-webkit-transform: translateY(-110px) rotateX(90deg);
				-moz-transform: translateY(-110px) rotateX(90deg);
				-ms-transform: translateY(-110px) rotateX(90deg);
				-o-transform: translateY(-110px) rotateX(90deg);
				transform: translateY(-110px) rotateX(90deg);
			}
			.story-back {
				opacity: 1;
				-webkit-transform: rotateX(0);
				-moz-transform: rotateX(0);
				-ms-transform: rotateX(0);
				-o-transform: rotateX(0);
				transform: rotateX(0);
			}
		}
	}
}