/**
* Index Styles
*
* This file contains the styles for both the index and archive templates
*
* @package Fotographia
* @author Jacob Martella
* @version 1.5
*/
//* Define the variables to be used in this stylesheet
.archive {
	position: relative;
	#inner-content {
		background-color: rgba(255,255,255,.50);
	}
	.archive-page-header {
		width: 1%;
		height: auto;
		background-color: #666666;
		color: #FFFFFF;
		text-align: center;
		display: table-cell;
		padding-top: 20%;
		padding-bottom: 20%;
		.archive-page-title {
			font-family: 'Lato', sans-serif;
			font-size: 48px;
			font-weight: 300;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
	}	
}
.home {
	margin-top: 30px;
}
.archive {
	#main {
		margin-bottom: 10px;
		.columns {
			padding: 0;
		}
	}
	.story {
		position: relative;
		overflow: hidden;
		perspective:1000px;
		-webkit-perspective:1000px;
		.title-area {
			display: block;
			width: 100%;
			position: absolute;
			height: auto;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(26,26,26,1) 70%, rgba(37,37,37,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(26,26,26,1) 70%,rgba(37,37,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#252525',GradientType=0 );
			text-align: right;
			padding-right: 3%;
			z-index: 9;
		}
		img {
			width: 100%;
			height: auto;
		}
		.category {
			font-family: 'Oswald', sans-serif;
			font-size: 20px;
			color: #FFFFFF;
		}
		.title {
			font-family: 'Lato', sans-serif;
			font-size: 30px;
			color: #FFFFFF;
			font-weight: 300;
		}
		.story-front {
			width: 100%;
			text-align: center;
			transition: all .5s ease;
		}
		.story-back {
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 1;
			opacity: 0;
			width: 100%;
			text-align: center;
			transition: all .5s ease;
			background-color: #252525;
			backface-visibility:hidden;
			transform-style: preserve-3d;
			-webkit-transform: translateY(110px) rotateX(-90deg);
			-moz-transform: translateY(110px) rotateX(-90deg);
			-ms-transform: translateY(110px) rotateX(-90deg);
			-o-transform: translateY(110px) rotateX(-90deg);
			transform: translateY(110px) rotateX(-90deg);
		}
		&:hover {
			.story-front {
				opacity: 0;
				-webkit-transform: translateY(-110px) rotateX(90deg);
				-moz-transform: translateY(-110px) rotateX(90deg);
				-ms-transform: translateY(-110px) rotateX(90deg);
				-o-transform: translateY(-110px) rotateX(90deg);
				transform: translateY(-110px) rotateX(90deg);
			}
			.story-back {
				opacity: 1;
				-webkit-transform: rotateX(0);
				-moz-transform: rotateX(0);
				-ms-transform: rotateX(0);
				-o-transform: rotateX(0);
				transform: rotateX(0);
			}
		}
	}
	.author-bio {
		.mugshot {
			float: left;
			position: relative;
			width: 96px;
			height: 96px;
			margin-right: 5px;
			margin-top: 5px;
			img {
				border-radius: 96px;
			}
		}
		.bio {
			font-family: Lato;
		    font-size: 14px;
		    font-weight: 300;
		}
	}
	.pagination {
		margin-top: 20px;
		h2 {
			display: none;
		}
		a {
			border: 2px solid #000000;
			border-radius: 2px;
			color: #000000;
			&:hover {
				background-color: #000000;
				color: #FFFFFF;
			}
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			padding: 3px 5px;
		}
		.current {
			border: 2px solid #000000;
			border-radius: 2px;
			color: #FFFFFF;
			background-color: #000000;
			&:hover {
				background-color: #FFFFFF;
				color: #000000;
			}
			font-size: 18px;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			padding: 3px 5px;
		}
	}
}
@media #{$small-only} {
	.archive {
		.story {
			.article-header {
				.title {
					font-size: 18px;
				}
			}
		}
	}
}