/**
* Page Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.2
*/
//* Define the variables to be used in this stylesheet


.post-404-header {
		width: 1%;
		height: auto;
		background-color: #666666;
		color: #FFFFFF;
		text-align: center;
		display: table-cell;
		padding-top: 20%;
		padding-bottom: 20%;
		.post-title {
			font-family: 'Lato', sans-serif;
			font-size: 48px;
			font-weight: 300;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
		.post-meta {
			font-family: 'Oswald', sans-serif;
			font-size: 36px;
			font-weight: 400;
			color: #FFFFFF;
			a {
				color: #FFFFFF;
				&:link, &:visited {
					color: #FFFFFF;
				}
				&:hover {
					color: #000000
				}
			}
		}
	}

.page {
	.page-header {
		width: 1%;
		height: auto;
		background-color: #666666;
		color: #FFFFFF;
		text-align: center;
		display: table-cell;
		padding-top: 20%;
		padding-bottom: 20%;
		.page-title {
			font-family: 'Lato', sans-serif;
			font-size: 48px;
			font-weight: 300;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
	}
	.featured-photo {
		width: 100%;
		height: auto;
		position: relative;
		.page-photo-header {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			background-color: rgba(0,0,0,.30);
			color: #FFFFFF;
			text-align: center;
			display: flex;
			justify-content: center;
			flex-direction: column;
			display: -webkit-flex;
			-webkit-justify-content: center;
			-webkit-flex-direction: column;
		}
		.page-photo-title {
			font-family: 'Lato', sans-serif;
			font-size: 48px;
			font-weight: 300;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
	}
}