/**
* WordPress Classes Styles
*
* @package Fotographia
* @author Jacob Martella
* @version 1.5
*/
/*
* A. By Author
* B. Sticky
* C. Photos
* D. Gallery
*/
//* Define the variables to be used in this stylesheet
/*
A. By Author
------------------------------------------- */
.bypostauthor { background-color: #AFAFAF; }
/*
B. Sticky
------------------------------------------- */
.sticky { background-color: #AFAFAF; }
/*
C. Photos
------------------------------------------- */
.aligncenter  { display: block; margin: 0 auto !important; background-color: #FFFFFF; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alignright  { float: right; margin: 0 0 1em 1em; background-color: #FFFFFF; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alignleft  { float: left; margin: 0 1em 1em 0; background-color: #FFFFFF; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.alignnone { float: left; margin: 0 1em 1em 0; background-color: #FFFFFF; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.floatleft  { float: left; }
.floatright  { float: right; }
p.wp-caption-text {font-family: 'Lato', sans-serif !important; font-size: 14px !important;text-align: right !important;}
/*
D. Gallery
------------------------------------------- */
.gallery  { clear: both; margin: 10px 0; }
.gallery-item  { float: left; margin-right: 10px; width: 31%; text-align: center; }
.gallery-icon img  { padding: 4px; }
.gallery-caption  { font-size: 12px; }

.screen-reader-text {
	font-size: 16px;
}