/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;

	& .widget {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		color: #fff;
		padding: 0 5px 5px 5px;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 300;

		& a {
			color: #fff;
		}

		& select,
		& input,
		& textarea {
			max-width: 100%;
		}

		& button,
		& input[type="button"],
		& input[type="reset"],
		& input[type="submit"],
		& .button {
			color: #fff;
			border: 3px solid #fff;
			max-width: 100%;
		}

		& button:hover,
		& input:hover[type="button"],
		& input:hover[type="reset"],
		& input:hover[type="submit"],
		& .button:hover {
			background-color: #fff;
			color: #000;
		}

		&:first-child {
			margin-top: 0;
		}

		& label {
			color: #fff;
		}

		& .tagcloud a {
			font-size: 16px !important;
			font-family: 'Lato', sans-serif;
			font-weight: 300;
			background-color: rgba(0, 0, 0, 0.75);
			margin: 1px;
			padding: 2px 3px;
			display: inline-block;
			color: #FFFFFF;
			border: 1px solid #FFFFFF;
			border-radius: 2px;

			&:hover {
				background-color: #fff;
				color: #000;
				display: inline-block;
			}
		}

		&.widget_calendar {
			width: 100%;
			margin-bottom: 0;

			& caption {
				text-align: center;
				color: #fff;
				font-size: 26px;
				margin-top: 0;
				margin-bottom: 3px;
				font-family: 'Lato', sans-serif;
				font-weight: 300;
			}

			& thead {
				font-size: 14px;
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				color: #fff;
				background: transparent;
				border: 0;

				& tr {
					background-color: transparent !important;
					color: #fff;
					border: 0;

					& th {
						padding-bottom: 5px;
						text-align: center;
						background-color: transparent !important;
						color: #fff;
						border-right: 0;
					}
				}
			}

			& tbody {
				color: #aaa;
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				border: 0;
				background-color: transparent;

				& tr {
					color: #fff !important;
					font-weight: 300;
					background-color: transparent !important;
					border: 0;

					& a {
						color: #fff !important;
						cursor: pointer;
					}

					& td {
						text-align: center;
						padding: 8px;
						border: 0;
						border-radius: 2px;
						background-color: transparent;
						color: #fff;
						cursor: pointer;

						& :hover {
							color: #aaa;

							& > a {
								color: #aaa;
							}
						}

						& a {

							&:hover {
								color: #aaa;
							}
						}
					}
				}

				& #today {
					background-color: #fff !important;
					color: #252525 !important;

					& a {
						color: #252525 !important;
						cursor: pointer;

						&:hover {
							color: #fff !important;
						}
					}

					&:hover {
						background-color: transparent !important;
						color: #fff !important;

						& > a {
							color: #fff !important;
						}
					}
				}

				& .pad {
					background: none;
				}
			}

			& tfoot {
				background-color: transparent;
				color: #fff;
				border: 0;

				& td {
					border: 0;

					&:hover {
						background-color: transparent;
						color: #aaa;

						& > a {
							background-color: transparent;
							color: #aaa;
						}
					}
				}

				& tr {
					background-color: transparent !important;
					color: #fff;
				}

				& a {
					color: #fff;
					cursor: pointer;

					&:hover {
						background-color: transparent;
						color: #aaa;
					}
				}

				& #next {
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
				}

				& #prev {
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					padding-top: 5px;
					font-family: 'Lato', sans-serif;
					font-weight: 300;
				}
			}
		}
	}
}
